* {
  padding: 0;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Syne Mono", monospace;
  transition: 0.5s;
  text-align: center;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

p,
article {
  text-align: initial;
}

a:hover {
  background-color: rgba(169, 198, 223, 0.781);
  padding: 3px;
  border-radius: 6px;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: rgb(255, 255, 255);
}

header:hover {
  box-shadow: 2px 2px 2px rgba(78, 78, 78, 0.24);
}

nav {
  margin-right: 5px;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  padding: 10px;
  min-height: 400px;
  background-color: rgba(127, 255, 212, 0);
  margin: 30px 0;
  background-color: black;
}

section:hover {
  background-color: rgba(240, 248, 255, 0);
}

h1 {
  margin-bottom: 5rem;
  width: 100%;
}

h3 {
  font-size: 12px;
}

h4 {
  font-size: 15px;
  font-weight: 100;
}

.logo {
  margin-left: 4px;
  text-align: center;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 10px;
  padding: 9px;
}

.logo > * {
  text-align: center;
}

.logo_under_text {
  font-size: 12px;
}

.inner_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 100%;
  max-width: 900px;
  margin: 30px 0;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 10px;
}

.inner_cont > img {
  max-width: 300px;
  border-radius: 160px;
}

.inner_cont > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.233);
  padding: 4px;
}

p::first-letter {
  font-weight: bold;
  font-size: 20px;
}

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.progress_bar_cont {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 200px;
  height: 20px;
  border-radius: 60px;
  border: 0.5px solid black;
  overflow: hidden;
  margin: 0 4px;
}

.progress_bar {
  width: 50%;
  height: 32px;
  background-color: rgb(5, 5, 5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin-left: -2px; */
  border-radius: 60px;
}

._skill_cont:first-child .progress_bar {
  width: 100%;
}

._skill_cont:nth-child(2) .progress_bar {
  width: 80%;
}
._skill_cont:nth-child(3) .progress_bar {
  width: 20%;
}

.project_container {
  min-width: 200px;
  min-height: 200px;
  margin: 20px 0;
  width: 0%;
}

.project_container:hover {
  cursor: pointer;
  width: 100%;
  background-color: rgba(148, 152, 155, 0.13);
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.project > img {
  max-width: 400px;
}

.contact_container {
  width: 100%;
}

.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  line-height: 20px;
  letter-spacing: 2px;
}

.contact:hover,
h1:hover {
  cursor: pointer;
  background-color: rgba(206, 202, 202, 0.315);
}

footer > nav {
  max-width: 200px;
  margin: auto;
  margin: 9px;
}
